<html>
  <head>
    <style>
      h1 {
        text-align: center;
      }
      img{
  display: block;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <h1>Clubs esprit</h1>

    <label>Au sien d'esprit les associations et clubs remplissent plusieurs role étant donneé la diversité des motivations qui attirent ceux qui en sont a l'origine.consient de l'importance de la vie associative,les étudiants jouent un role important dans l'élaboration et la transmission des messages au demendaire.Ci dessous la liste des clubs d'Esprit.N'hésitez pas a la completer.</label>
</br>
<img src="https://i0.wp.com/lapresse.tn/wp-content/uploads/2020/07/esprit.jpg?fit=850%2C491&ssl=1">  
  </body>
</html>