<form method="post">
<h3>Modifier Classroom </h3>

    <h5>{{ form_label(form.name, 'Name') }}</h5>
    {{ form_widget(form.name) }}

    <br>
    {{ form_widget(form._token) }}
    <br>
    <button type="submit" class="btn btn-primary">Modifier</button>
</form>
